.py-product{
   padding: 118px 0px 194px 0px;
}


.py-product h1{

font-size: 40px;
font-weight: 700;
line-height: 60px;


}


.product-image{
    width: 100%;
    height: 150px;
    padding: 10px;
}

.p-product-box {
    padding: 10px 11px 15px 29px;
}

.border-product {
    background: var(--Change, #E97636);
    border-radius: 35.4px;
    height: 100%;
    transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
}

.border-product:hover {
    transform: scale(1.05);
}

.Pro p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    max-width: 50%;
}



/* Animation for cards */
 .card-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out;
  }
  
  .card-scroll.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Animation for the image */
  .image-scroll {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.8s ease-in-out;
  }
  
   .image-scroll.show {
    opacity: 1;
    transform: scale(1);
  }
  







@media (max-width: 991px) {
    .Pro p {
        max-width: 90%;
    }

}

@media (max-width: 425px) {
    .bg-services p {
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.01em;
        text-align: center;
        max-width: 90%;
    }

    .py-product h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .py-product {
        padding: 72px 0px 72px 0px;
    }

    .py-100 {
        padding: 50px 0;
    }

    .pro-425 .p4{
        padding: 30px!important;
    }


}