
.join-us {
    min-height: 100vh;
    background-color: white;
}

.join-us .btn-join{
    color: white;
    background-color: #2f2e41;
}

.join-us .form-check-input:checked {
    background-color: #e97636;
    border-color: #e97636;
}

.join-us .orange {
    color: #e97636;
}

.join-us .bg-orange {
    background-color: #e97636;
}



